
<!DOCTYPE html PUBLIC>
<html>
<head>
    
</head>
<body>
	<h3>Pages#batmanvssuperman</h3>
<div>
<%= image_tag 'bat2.jpg'%>
<%= link_to "Batman", pages_batman_path %>
</div>

<div>
<%= image_tag 'super2.jpg'%>
<%= link_to "Superman", pages_superman_path %>
</div>

<!--<img src="images/super2.jpg" style="position: absolute; top: 0; left: 0; width: 50%; height: 50%" > -->

<%= yield %>

</body>
</html>